.Header-page-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(48, 25, 13);
}

.Header-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
